body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #373737 !important;
}
.user_card {
    width: 350px;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: var(--second-color, #D9D9D9);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color:#3d3939;
    padding-top: 20px;
}
.login_btn {
    width: 100%;
    background: #3a3938 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #3a3938 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

@media (max-widht: 576px) {
    .form_container {
        padding: 0 1rem;
    }

    .user_card {
        width: 90%;
    }
}

#form-errors{
    margin-top: 10px; /* Espaçamento acima das mensagens */
    padding: 5px; /* Espaçamento interno */
    background-color: grey; 
    color: #fff; /* Cor do texto */
    border-radius: 5px; /* Borda arredondada */
    font-size: x-small!important;
    font-weight: bold;
}

#form-errors ul{
    list-style-type: none;
    margin-bottom: 5px;
}