body,
html {
    height: 100%;
    background: var(--primary-color, #373737) !important;
}
.user_card {
    max-width: 350px;
    margin: auto;
    background: var(--second-color, #D9D9D9);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_container {
    padding: 20px;
}

#form-title {
    color: #3d3939;
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
}

.input-group-text {
    background: #33333d !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.login_btn {
    background: #3a3938 !important;
    color: white !important;
    width: 100%;
}

h3 {
    font-size: 14px;
    margin-bottom: 20px;
    
}

/* Estilo para centralizar o input */
.input-group-center {
    display: flex;
    justify-content: center;
}

.form-control-center {
    text-align: center;
}

.spam-alert-phrase{
    font-size: 12px;
    text-align: center;
    color: #1b1b1b;
}
