<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="{% static 'update_card.css' %}">
    <title>Edit Card</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="go-back">
            <a href="{% url 'cards:list_all' %}">
                <span class="material-symbols-outlined">
                arrow_circle_left
                </span>
            </a>
        </div>

        <h1>Edit Card</h1>

        <label for="title">Title:</label>
        {{ form.title }}

        <div style="display:none;">
            <label for="owner">Owner:</label>
            {{ form.owner }}
        </div>

        <div class="button-container">
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
