body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #373737;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #D9D9D9;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    opacity: 0.7;
    background-color: #4a90e2;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid black;
    font-weight: bold;
}
button:hover {
    opacity: 1;
}

ul {
    list-style: none;
    padding: 0;
    display: flex; /* Alteração para exibição em linha */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    margin: 0px; /* Remove a margem lateral causada pela quebra de linha */
}

li {
    background-color: #D9D9D9;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px; /* Adiciona margem entre os cards */
    flex: 0 0 calc(33% - 20px); /* Define a largura dos cards e ajusta a margem */
    box-sizing: border-box; /* Garante que a largura inclua a margem */
    position: relative;
}


li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 700px) {
    li {
      flex: 0 0 calc(80% - 20px); /* Define a largura dos cards e ajusta a margem */
    }

    ul {
        justify-content: center;
    }
}
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

.action-links {
    margin-top: 10px;
}

.action-links a {
    margin-right: 5px;
    color: #4a90e2;
    bottom: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;

}

.botoes{
    color: #4a90e2;
    bottom: 0;
    position: absolute;
    left: 15;
    padding: 10px;
}

ol {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

ol li {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
}

br {
    display: block;
    margin: 10px 0;
}

input {
    position: relative;
    z-index: -1;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 3
}

.container-task{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-owner {
    display: flex;
    align-items: center;
}

.complete-anchor {
    height: 100%;
    width: 100%;
    z-index: 2;
}

.user-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#edit-user-button {
    color: #D9D9D9;
    font-size: 30px;
    padding: 0 5px;
}

#logout-button {
    color: #D9D9D9;
    font-size: 30px;
    padding: 0 5px;
}
.task-description{
    width: 15vw;   
    overflow: hidden;   
    display: inline-block;   
    text-overflow: ellipsis;   
    white-space: nowrap;
    vertical-align: middle;
}
